*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 200;
    width: 100%;
    border: solid #ec8889 20px;

}

.main{
    font-size: 17px;;
}
.circular-image{
    border-radius: 50%;
    width: 300px;
    height: 300px;

}
span{
    color: #ec8889;
    
}
p{
    margin: 10px auto 10px auto;
}
.column{
    margin: 10px auto 10px 20px;
    display: flex;
    flex-direction: column;

}
button{
    background-color: #ec8889;
    color: white;
    font-size: 30px;
    border-radius: 63px;
    width: 180px;
    height: 48px;
    margin: 30px auto 30px auto;
    border-color: #ec8889;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    line-height: 48px;

}
.social-container{
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.social{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display:flex;
    flex-direction: row;
    font: 30px;

}
